<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
	<!--填写青龙面板参数-->
	<add key="QL_URL" value="" />
	<add key="QL_ClientID" value="" />
	<add key="QL_ClientSecret" value="" />
	<add key="AccountList" value="" />

  </appSettings>
</configuration>